@model Food
<h1>@Model.NameOfDish</h1>
<h2>@Model.ChefName</h2>
<h2>@Model.Description</h2>
<h2>@Model.Calories</h2>
<h2>@Model.Tastiness</h2>

<a href="/delete/@Model.DishId">Delete</a>
<a href="/edit/@Model.DishId">Edit</a>

